<% layout('layouts/boilerplate') %>

    < <a href="/campgrounds" class="btn btn-primary">Back to All Campgrounds</a>

        <div class="row">
            <h1 class="text-center">New Campground</h1>
            <div class="col-6 offset-3">
                <form action="/campgrounds" method="POST" novalidate class="validated-form"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="campground[title]" required>
                        <div class="valid-feedback">
                            Works!
                        </div>
                        <div class="invalid-feedback">
                            Title required
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="campground[location]" required>
                        <div class="valid-feedback">
                            Works!
                        </div>
                        <div class="invalid-feedback">
                            Location required
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-file custom-file">
                            <label for="image" class="form-label">Upload Images</label>
                            <input type="file" class="form-file-input form-control" id="image" name="image" multiple>

                        </div>
                        <div class="valid-feedback">
                            Works!
                        </div>
                        <div class="invalid-feedback">
                            Image required
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" id="description" name="campground[description]"
                            required></textarea>
                        <div class="valid-feedback">
                            Works!
                        </div>
                        <div class="invalid-feedback">
                            Description required
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">&#8377;</span>
                            <input type="text" id="price" class="form-control" placeholder="0.00"
                                name="campground[price]" aria-label="price" aria-describedby="basic-addon1" required>
                            <div class="valid-feedback">
                                Works!
                            </div>
                            <div class="invalid-feedback">
                                Price required
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success mb-3">Add Campground</button>
                </form>
            </div>
        </div>